@import (reference) '../../styles/globalStyle';
@pageName: ~'landing-page';
@maxBigContentWidth: 600px;
@maxContentWidth: 400px;
@contentBottomMargin: 24px;
@sectionPadding: 24px;

.@{pageName} {
	padding-top: @headerHeight;
	min-height: calc(100vh - @footerHeight);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.@{pageName}-offer-grid{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 24px;
		max-width: 1144px;
	}
}
